.home {
    height: 100dvh;
    width: 100dvw;
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home>h1 {
    font-size: 100px;
    font-family: "Trebuchet";
    color: black;
}