.landingPage {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
}

.landingPage>header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zenText {
    height: 65px;
    font-size: 40px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.headerButtonsContainer {
    margin-right: 10px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp {
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    height: 60%;
    width: 100%;
    font-size: 18px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(243, 243, 243);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.337);

}

.landingPage>main {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.upper {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.upper>h1 {
    font-size: 70px;
    line-height: 1;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.upper>h2 {
    font-size: 18px;
    font-family: Segoe UI;
    font-weight: 500;
    color: rgb(161, 161, 161);
    width: 55%;
    text-align: center;
    letter-spacing: 0.2px;
}


.bottom {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardSpace {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    pointer-events: none;
}

.cardSpace2 {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.buttonsContainer {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.542);

}

.getStarted {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    height: 60%;
    width: 100%;
    font-size: 18px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alternativeButton {
    height: 40%;
    width: 100%;
    font-size: 15px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(233, 233, 233);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}