.landingPage {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
    overflow: hidden;
    /* padding: 0px 20px 20px 20px; */
}

.logoutScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.landingPage>header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

@media (max-width: 700px) {
    .landingPage>header {
        padding: 0px 0px 0px 10px;
    }
}

.zenText {
    height: 65px;
    font-size: 40px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.headerButtonsContainer {
    margin-right: 10px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp {
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    height: 60%;
    width: 100%;
    font-size: 18px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(243, 243, 243);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.337);
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    gap: 5px;
    position: relative;
}

.userButton {
    height: 45px;
    background-color: red;
    border-radius: 100%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    z-index: 2;
}

.userButton>img {
    height: 100%;
    object-fit: cover;
}

.menuOptions {
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.917);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    top: 100%;
    right: 0;
    margin-top: 10px;
    z-index: 1;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.765);
}

.option {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 2px;
    will-change: filter;
}

.option:hover {
    filter: brightness(1.2);
}

.icon {
    height: 40px;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;

}

.text {
    text-wrap: nowrap;
    height: 40px;
    border-radius: 10px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: Trebuchet;
    font-weight: 900;
    font-size: 18px;
    color: gray;
    padding-right: 20px;
}

.landingPage>main {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 20px 20px;

}

.upper {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.upper>h1 {
    font-size: 70px;
    line-height: 1;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.upper>h2 {
    font-size: 18px;
    font-family: Segoe UI;
    font-weight: 500;
    color: rgb(117, 117, 117);
    width: 55%;
    text-align: center;
    letter-spacing: 0.2px;
}


.bottom {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardSpace {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    pointer-events: none;
}

.cardSpace2 {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.buttonsContainer {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.542);
}

.getStarted {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    height: 60%;
    width: 100%;
    font-size: 18px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alternativeButton {
    height: 40%;
    width: 100%;
    font-size: 15px;
    font-family: Trebuchet;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(233, 233, 233);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}